@font-face {
	font-family: 'Clash Grotesk';
	src: url(../public/fonts/ClashGrotesk-Medium.ttf) format('truetype'), url(../public/fonts/ClashGrotesk-Medium.woff) format('woff'),
		url(../public/fonts/ClashGrotesk-Medium.woff2) format('woff2');
	font-weight: 500;
	font-display: swap;
}

:root {
	--foreground: #111827;
	--border: hsl(215, 28%, 88%);
	--background: hsl(0, 0%, 100%);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-size: 62.5%;
}

body {
	font-family: 'Clash Grotesk';
	font-size: 1.6rem;
	color: var(--foreground);
	background: var(--background);
}

.container {
	max-width: 1520px;
	width: 100%;
	padding: 0 24px;
	margin: 0 auto;
}

.container-small {
	max-width: 1000px;
	width: 100%;
	padding: 0 24px;
	margin: 0 auto;
}

.header {
	padding: clamp(40px, 6vw, 80px) 0;
}

.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	line-height: 1;
}
