.main {
	min-height: 100vh;
	overflow-x: hidden;
}

.title {
	text-transform: uppercase;
	line-height: 1;
	font-size: clamp(40px, 15vw, 192px);
	font-weight: 500;
}

.titleItem {
	padding: 20px 0;
	border-bottom: 1px solid var(--border);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	overflow: hidden;
}

.titleItemInner {
	white-space: nowrap;
	padding: 0 20px;
}

.titleItemInner span {
	display: inline-block;
}

/* .titleItemInner span:nth-child(2) {
	margin-left: 24px;
} */

.titleItem:nth-child(2) .titleItemInner {
	grid-column: 4;
}

.titleItem:nth-child(4) .titleItemInner {
	grid-column-start: end;
}

.content {
	padding-bottom: 8vw;
}

.content p {
	font-size: 2rem;
	line-height: 1.6;
	margin: 8vw 0;
	opacity: 0.76;
}

@media screen and (max-width: 768px) {
	.titleItem:nth-child(2) .titleItemInner,
	.titleItem:nth-child(4) .titleItemInner {
		grid-column: 1;
	}

	.content p {
		font-size: 1.6rem;
	}
}
